.App__container {
  max-width: 950px;
  padding: 1.5em;
  margin: 0 auto;
}

.App__button--primary, .App__button--secondary {
  border: none;
  border: red 2px solid;
  font-size: 13px;
  font-weight: bold;
  font-family: helvetica;
  color: red;
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding: .5rem .75rem;
  margin-right: 1.25em;
  cursor: pointer;
}

.App__button--secondary {
  border: none;
}
